<a href="https://colab.research.google.com/github/yogaap113/Case-Study-03-Data-Mining-UIN-Ganjil-2022-Kelompok-1/blob/main/Case_Study_03_Data_Mining_UIN_Ganjil_2022_Kelompok_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

In [30]:
try:
    import google.colab as gc_
    print("Running the code in Google Colab.", gc_) #IN_COLAB = True
    print("Installing required Module, please wait ... ")
    !pip install mlxtend 
except:
    print("Running the code locally, make sure to install required modules.")#IN_COLAB = False

Running the code in Google Colab. <module 'google.colab' from '/usr/local/lib/python3.7/dist-packages/google/colab/__init__.py'>
Installing required Module, please wait ...
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.23.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.5.4)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.2.0)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.1.0)

In [31]:
# Import modul yang akan digunakan

import warnings; warnings.simplefilter('ignore')
import pandas as pd, matplotlib.pyplot as plt, seaborn as sns
from itertools import combinations
from collections import Counter
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

%matplotlib inline
plt.style.use('bmh'); sns.set()

In [32]:
df = pd.read_csv('https://raw.githubusercontent.com/yogaap113/Case-Study-03-Data-Mining-UIN-Ganjil-2022-Kelompok-1/main/Kasus-AR-MBA-Ganjil-2022-UIN.csv')
df.head()

   ID Transaksi      Tanggal Konsumen  ID Produk Nama Produk     Merek  Jumlah
0             1  7/1/22 0:00    Mr. A          1        Roti  Sri Roti       2
1             1  7/2/22 0:00    Mr. A          2   Air Minum     Aquos       1
2             1  7/3/22 0:00    Mr. A         11  Mie Instan    Indomi       2
3             1  7/4/22 0:00    Mr. A         12  Mie Instan  Mi Sedap       1
4             2  7/1/22 0:00    Mr. B          2   Air Minum     Aquos       1

In [33]:
# Cek kolom dan baris data
N, P = df.shape
print(f"Baris: {N}, kolom: {P}")

Baris: 56, kolom: 7

In [34]:
df

,ID Transaksi,Tanggal,Konsumen,ID Produk,Nama Produk,Merek,Jumlah
0,1,7/1/22 0:00,Mr. A,1,Roti,Sri Roti,2
1,1,7/2/22 0:00,Mr. A,2,Air Minum,Aquos,1
2,1,7/3/22 0:00,Mr. A,11,Mie Instan,Indomi,2
3,1,7/4/22 0:00,Mr. A,12,Mie Instan,Mi Sedap,1
4,2,7/1/22 0:00,Mr. B,2,Air Minum,Aquos,1
5,2,7/2/22 0:00,Mr. B,6,Snack,Chiki,2
6,2,7/3/22 0:00,Mr. B,3,Roti,Prambanan,1
7,2,7/4/22 0:00,Mr. B,5,Shampoo,Clean,1
8,3,7/2/22 0:00,Mr. C,4,Sabun,Lifboy,1
9,3,7/3/22 0:00,Mr. C,5,Shampoo,Clean,1
10,3,7/4/22 0:00,Mr. C,9,Rokok,Malioboro,1
11,4,7/2/22 0:00,Mr. B,1,Roti,Sri Roti,2
12,4,7/3/22 0:00,Mr. B,10,Air Minum,Sprit,2
13,4,7/4/22 0:00,Mr. B,8,Snack,Citata,3
14,4,7/5/22 0:00,Mr. B,7,Sabun,Luks,1
15,4,7/6/22 0:00,Mr. B,12,Mie Instan,Mi Sedap,2
16,5,7/3/22 0:00,Mr. A,6,Snack,Chiki,1
17,5,7/4/22 0:00,Mr. A,10,Air Minum,Sprit,2
18,6,7/3/22 0:00,Mr. D,11,Mie Instan,Indomi,2
19,6,7/4/22 0:00,Mr. D,4,Sabun,Lifboy,1
20,6,7/5/22 0:00,Mr. D,5,Shampoo,Clean,1
21,7,7/4/22 0:00,Mr. Z,10,Air Minum,Sprit,1
22,7,7/5/22 0:00,Mr. Z,9,Rokok,Malioboro,1
23,8,7/4/22 0:00,Mr. B,6,Snack,Chiki,1
24,8,7/5/22 0:00,Mr. B,7,Sabun,Luks,1
25,8,7/6/22 0:00,Mr. B,5,Shampoo,Clean,1
26,8,7/7/22 0:00,Mr. B,11,Mie Instan,Indomi,3
27,9,7/5/22 0:00,Mr. X,1,Roti,Sri Roti,2
28,9,7/6/22 0:00,Mr. X,2,Air Minum,Aquos,1
29,9,7/7/22 0:00,Mr. X,4,Sabun,Lifboy,1
30,9,7/8/22 0:00,Mr. X,6,Snack,Chiki,2
31,9,7/9/22 0:00,Mr. X,9,Rokok,Malioboro,1
32,9,7/10/22 0:00,Mr. X,11,Mie Instan,Indomi,2
33,10,7/5/22 0:00,Mr. T,3,Roti,Prambanan,1
34,10,7/6/22 0:00,Mr. T,10,Air Minum,Sprit,2
35,10,7/7/22 0:00,Mr. T,6,Snack,Chiki,2
36,11,7/6/22 0:00,Mr. P,3,Roti,Prambanan,2
37,11,7/7/22 0:00,Mr. P,9,Rokok,Malioboro,1
38,12,7/6/22 0:00,Mr. G,4,Sabun,Lifboy,2
39,12,7/7/22 0:00,Mr. G,5,Shampoo,Clean,1
40,12,7/8/22 0:00,Mr. G,12,Mie Instan,Mi Sedap,2
41,12,7/9/22 0:00,Mr. G,11,Mie Instan,Indomi,1
42,13,7/7/22 0:00,Mr. X,1,Roti,Sri Roti,1
43,13,7/8/22 0:00,Mr. X,8,Snack,Citata,2
44,13,7/9/22 0:00,Mr. X,10,Air Minum,Sprit,1
45,14,7/7/22 0:00,Mr.Y,7,Sabun,Luks,2
46,14,7/8/22 0:00,Mr.Y,5,Shampoo,Clean,2
47,14,7/9/22 0:00,Mr.Y,6,Snack,Chiki,1
48,15,7/8/22 0:00,Mr. F,9,Rokok,Malioboro,1
49,16,8/2/22 0:00,Mr. J,2,Air Minum,Aquos,2
50,17,9/5/22 0:00,Mr. X,1,Roti,Sri Roti,2
51,17,9/6/22 0:00,Mr. X,2,Air Minum,Aquos,1
52,17,9/7/22 0:00,Mr. X,4,Sabun,Lifboy,1
53,17,9/8/22 0:00,Mr. X,6,Snack,Chiki,2
54,18,10/2/22 0:00,Mr. B,1,Roti,Sri Roti,2
55,18,10/3/22 0:00,Mr. B,10,Air Minum,Sprit,2

##Preprocessing Data

In [35]:
## Cek missing value pada data
df.isnull().sum()

ID Transaksi    0
Tanggal         0
Konsumen        0
ID Produk       0
Nama Produk     0
Merek           0
Jumlah          0
dtype: int64

In [35]:
## Cek outlier 
# Outlier di variabel 
ax = sns.boxplot(x=df[""])
ax.set_xlabel(' ')