<a href="https://colab.research.google.com/github/yogaap113/Case-Study-03-Data-Mining-UIN-Ganjil-2022-Kelompok-1/blob/main/Case_Study_03_Data_Mining_UIN_Ganjil_2022_Kelompok_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
try:
    import google.colab as gc_
    print("Running the code in Google Colab.", gc_) #IN_COLAB = True
    print("Installing required Module, please wait ... ")
    !pip install mlxtend 
except:
    print("Running the code locally, make sure to install required modules.")#IN_COLAB = False

Running the code in Google Colab. <module 'google.colab' from '/usr/local/lib/python3.7/dist-packages/google/colab/__init__.py'>
Installing required Module, please wait ...
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.5.4)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.2.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.23.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.1.0)

In [16]:
# Import modul yang akan digunakan

import warnings; warnings.simplefilter('ignore')
import pandas as pd, matplotlib.pyplot as plt, seaborn as sns
from itertools import combinations
from collections import Counter
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from pycaret.arules import *

%matplotlib inline
plt.style.use('bmh'); sns.set()

In [18]:
#Import data
df = pd.read_csv('https://raw.githubusercontent.com/yogaap113/Case-Study-03-Data-Mining-UIN-Ganjil-2022-Kelompok-1/main/Kasus-AR-MBA-Ganjil-2022-UIN.csv')
df

,ID Transaksi,Tanggal,Konsumen,ID Produk,Nama Produk,Merek,Jumlah
0,1.0,7/1/22 0:00,Mr. A,1,Roti,Sri Roti,2
1,NaN,NaN,NaN,2,Air Minum,Aquos,1
2,NaN,NaN,NaN,11,Mie Instan,Indomi,2
3,NaN,NaN,NaN,12,Mie Instan,Mi Sedap,1
4,2.0,7/1/22 0:00,Mr. B,2,Air Minum,Aquos,1
5,NaN,NaN,NaN,6,Snack,Chiki,2
6,NaN,NaN,NaN,3,Roti,Prambanan,1
7,NaN,NaN,NaN,5,Shampoo,Clean,1
8,3.0,7/2/22 0:00,Mr. C,4,Sabun,Lifboy,1
9,NaN,NaN,NaN,5,Shampoo,Clean,1
10,NaN,NaN,NaN,9,Rokok,Malioboro,1
11,4.0,7/2/22 0:00,Mr. B,1,Roti,Sri Roti,2
12,NaN,NaN,NaN,10,Air Minum,Sprit,2
13,NaN,NaN,NaN,8,Snack,Citata,3
14,NaN,NaN,NaN,7,Sabun,Luks,1
15,NaN,NaN,NaN,12,Mie Instan,Mi Sedap,2
16,5.0,7/3/22 0:00,Mr. A,6,Snack,Chiki,1
17,NaN,NaN,NaN,10,Air Minum,Sprit,2
18,6.0,7/3/22 0:00,Mr. D,11,Mie Instan,Indomi,2
19,NaN,NaN,NaN,4,Sabun,Lifboy,1
20,NaN,NaN,NaN,5,Shampoo,Clean,1
21,7.0,7/4/22 0:00,Mr. Z,10,Air Minum,Sprit,1
22,NaN,NaN,NaN,9,Rokok,Malioboro,1
23,8.0,7/4/22 0:00,Mr. B,6,Snack,Chiki,1
24,NaN,NaN,NaN,7,Sabun,Luks,1
25,NaN,NaN,NaN,5,Shampoo,Clean,1
26,NaN,NaN,NaN,11,Mie Instan,Indomi,3
27,9.0,7/5/22 0:00,Mr. X,1,Roti,Sri Roti,2
28,NaN,NaN,NaN,2,Air Minum,Aquos,1
29,NaN,NaN,NaN,4,Sabun,Lifboy,1
30,NaN,NaN,NaN,6,Snack,Chiki,2
31,NaN,NaN,NaN,9,Rokok,Malioboro,1
32,NaN,NaN,NaN,11,Mie Instan,Indomi,2
33,10.0,7/5/22 0:00,Mr. T,3,Roti,Prambanan,1
34,NaN,NaN,NaN,10,Air Minum,Sprit,2
35,NaN,NaN,NaN,6,Snack,Chiki,2
36,11.0,7/6/22 0:00,Mr. P,3,Roti,Prambanan,2
37,NaN,NaN,NaN,9,Rokok,Malioboro,1
38,12.0,7/6/22 0:00,Mr. G,4,Sabun,Lifboy,2
39,NaN,NaN,NaN,5,Shampoo,Clean,1
40,NaN,NaN,NaN,12,Mie Instan,Mi Sedap,2
41,NaN,NaN,NaN,11,Mie Instan,Indomi,1
42,13.0,7/7/22 0:00,Mr. X,1,Roti,Sri Roti,1
43,NaN,NaN,NaN,8,Snack,Citata,2
44,NaN,NaN,NaN,10,Air Minum,Sprit,1
45,14.0,7/7/22 0:00,Mr.Y,7,Sabun,Luks,2
46,NaN,NaN,NaN,5,Shampoo,Clean,2
47,NaN,NaN,NaN,6,Snack,Chiki,1
48,15.0,7/8/22 0:00,Mr. F,9,Rokok,Malioboro,1
49,16.0,8/2/22 0:00,Mr. J,2,Air Minum,Aquos,2
50,17.0,9/5/22 0:00,Mr. X,1,Roti,Sri Roti,2
51,NaN,NaN,NaN,2,Air Minum,Aquos,1
52,NaN,NaN,NaN,4,Sabun,Lifboy,1
53,NaN,NaN,NaN,6,Snack,Chiki,2
54,18.0,10/2/22 0:00,Mr. B,1,Roti,Sri Roti,2
55,NaN,NaN,NaN,10,Air Minum,Sprit,2

In [19]:
# Cek kolom dan baris data
N, P = df.shape
print(f"Baris: {N}, kolom: {P}")

Baris: 56, kolom: 7

In [20]:
df

,ID Transaksi,Tanggal,Konsumen,ID Produk,Nama Produk,Merek,Jumlah
0,1.0,7/1/22 0:00,Mr. A,1,Roti,Sri Roti,2
1,NaN,NaN,NaN,2,Air Minum,Aquos,1
2,NaN,NaN,NaN,11,Mie Instan,Indomi,2
3,NaN,NaN,NaN,12,Mie Instan,Mi Sedap,1
4,2.0,7/1/22 0:00,Mr. B,2,Air Minum,Aquos,1
5,NaN,NaN,NaN,6,Snack,Chiki,2
6,NaN,NaN,NaN,3,Roti,Prambanan,1
7,NaN,NaN,NaN,5,Shampoo,Clean,1
8,3.0,7/2/22 0:00,Mr. C,4,Sabun,Lifboy,1
9,NaN,NaN,NaN,5,Shampoo,Clean,1
10,NaN,NaN,NaN,9,Rokok,Malioboro,1
11,4.0,7/2/22 0:00,Mr. B,1,Roti,Sri Roti,2
12,NaN,NaN,NaN,10,Air Minum,Sprit,2
13,NaN,NaN,NaN,8,Snack,Citata,3
14,NaN,NaN,NaN,7,Sabun,Luks,1
15,NaN,NaN,NaN,12,Mie Instan,Mi Sedap,2
16,5.0,7/3/22 0:00,Mr. A,6,Snack,Chiki,1
17,NaN,NaN,NaN,10,Air Minum,Sprit,2
18,6.0,7/3/22 0:00,Mr. D,11,Mie Instan,Indomi,2
19,NaN,NaN,NaN,4,Sabun,Lifboy,1
20,NaN,NaN,NaN,5,Shampoo,Clean,1
21,7.0,7/4/22 0:00,Mr. Z,10,Air Minum,Sprit,1
22,NaN,NaN,NaN,9,Rokok,Malioboro,1
23,8.0,7/4/22 0:00,Mr. B,6,Snack,Chiki,1
24,NaN,NaN,NaN,7,Sabun,Luks,1
25,NaN,NaN,NaN,5,Shampoo,Clean,1
26,NaN,NaN,NaN,11,Mie Instan,Indomi,3
27,9.0,7/5/22 0:00,Mr. X,1,Roti,Sri Roti,2
28,NaN,NaN,NaN,2,Air Minum,Aquos,1
29,NaN,NaN,NaN,4,Sabun,Lifboy,1
30,NaN,NaN,NaN,6,Snack,Chiki,2
31,NaN,NaN,NaN,9,Rokok,Malioboro,1
32,NaN,NaN,NaN,11,Mie Instan,Indomi,2
33,10.0,7/5/22 0:00,Mr. T,3,Roti,Prambanan,1
34,NaN,NaN,NaN,10,Air Minum,Sprit,2
35,NaN,NaN,NaN,6,Snack,Chiki,2
36,11.0,7/6/22 0:00,Mr. P,3,Roti,Prambanan,2
37,NaN,NaN,NaN,9,Rokok,Malioboro,1
38,12.0,7/6/22 0:00,Mr. G,4,Sabun,Lifboy,2
39,NaN,NaN,NaN,5,Shampoo,Clean,1
40,NaN,NaN,NaN,12,Mie Instan,Mi Sedap,2
41,NaN,NaN,NaN,11,Mie Instan,Indomi,1
42,13.0,7/7/22 0:00,Mr. X,1,Roti,Sri Roti,1
43,NaN,NaN,NaN,8,Snack,Citata,2
44,NaN,NaN,NaN,10,Air Minum,Sprit,1
45,14.0,7/7/22 0:00,Mr.Y,7,Sabun,Luks,2
46,NaN,NaN,NaN,5,Shampoo,Clean,2
47,NaN,NaN,NaN,6,Snack,Chiki,1
48,15.0,7/8/22 0:00,Mr. F,9,Rokok,Malioboro,1
49,16.0,8/2/22 0:00,Mr. J,2,Air Minum,Aquos,2
50,17.0,9/5/22 0:00,Mr. X,1,Roti,Sri Roti,2
51,NaN,NaN,NaN,2,Air Minum,Aquos,1
52,NaN,NaN,NaN,4,Sabun,Lifboy,1
53,NaN,NaN,NaN,6,Snack,Chiki,2
54,18.0,10/2/22 0:00,Mr. B,1,Roti,Sri Roti,2
55,NaN,NaN,NaN,10,Air Minum,Sprit,2

##Preprocessing Data

In [21]:
## Cek missing value pada data
df.isnull().sum()

ID Transaksi    38
Tanggal         38
Konsumen        38
ID Produk        0
Nama Produk      0
Merek            0
Jumlah           0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Transaksi  18 non-null     float64
 1   Tanggal       18 non-null     object
 2   Konsumen      18 non-null     object
 3   ID Produk     56 non-null     int64
 4   Nama Produk   56 non-null     object
 5   Merek         56 non-null     object
 6   Jumlah        56 non-null     int64
dtypes: float64(1), int64(2), object(4)
memory usage: 3.2+ KB

In [ ]:
df['ID Transaksi'] = df['ID Transaksi'].replace(['-'],)
df['Umur'] = df['Umur'].replace(["35'"],35)

In [ ]:
df['FavFlavor'] = df['FavFlavor'].replace([9],8)
df['Kota'] = df['Kota'].replace(['JJakarta'],'Jakarta')
df['Umur'] = df['Umur'].replace(['2'],)

In [28]:
# Mengubah tipe data object/int64 menjadi category
# cek dulu

df['ID Transaksi'] = df['ID Transaksi'].astype('category')
df['Tanggal'] = df['Tanggal'].astype('int64')
df['Konsumen'] = df['Kota'].astype('category')
df['ID Produk'] = df['Promo'].astype('int64')
df['Nama Produk'] = df['HariFav'].astype('category')
df['Merek'] = df['FavFlavor'].astype('category')
df['Jumlah'] = df['Jumlah'].astype('int64')

KeyError: ignored

In [ ]:
# Imputasi variabel yang terdapat missing value
modus = df['Jenis Kelamin'].mode()[0]
df['Jenis Kelamin'] = df['Jenis Kelamin'].fillna(modus)
modus2 = df['Menikah'].mode()[0]
df['Menikah'] = df['Menikah'].fillna(modus2)
modus3 = df['Umur'].mode()[0]
df['Umur'] = df['Umur'].fillna(modus3)

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
## Cek outlier 
# Outlier di variabel 
ax = sns.boxplot(x=df["https://raw.githubusercontent.com/yogaap113/Case-Study-03-Data-Mining-UIN-Ganjil-2022-Kelompok-1/main/Kasus-AR-MBA-Ganjil-2022-UIN.csv "])
ax.set_xlabel(' ')